@font-face {
  font-family: 'Enreal';
  src: url('./assets/font/enreal-regular.6c6a55ab.woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Enreal';
  src: url('./assets/font/enreal-semibold.83d6ac43.woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Enreal';
  src: url('./assets/font/enreal-light.56b577ee.woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Enreal';
  src: url('./assets/font/enreal-bold.3515d0c0.woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HKKontrast';
  src: url('./assets/font/hkkontrast-bold.582b6791.woff');
  font-weight: 700;
  font-style: normal;
}

/*
@font-face {
  font-family: 'SilkaMono';
  src: url('../assets/font/SilkaMono/silkamono-regularitalic-webfont.eot');
  src: url('../assets/font/SilkaMono/silkamono-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/font/SilkaMono/silkamono-regularitalic-webfont.woff2') format('woff2'),
       url('../assets/font/SilkaMono/silkamono-regularitalic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SilkaMono';
  src: url('../assets/font/SilkaMono/silkamono-light-webfont.eot');
  src: url('../assets/font/SilkaMono/silkamono-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/font/SilkaMono/silkamono-light-webfont.woff2') format('woff2'),
       url('../assets/font/SilkaMono/silkamono-light-webfont.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SilkaMono';
  src: url('../assets/font/SilkaMono/silkamono-regular-webfont.eot');
  src: url('../assets/font/SilkaMono/silkamono-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/font/SilkaMono/silkamono-regular-webfont.woff2') format('woff2'),
       url('../assets/font/SilkaMono/silkamono-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SilkaMono';
  src: url('../assets/font/SilkaMono/silkamono-medium-webfont.eot');
  src: url('../assets/font/SilkaMono/silkamono-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/font/SilkaMono/silkamono-medium-webfont.woff2') format('woff2'),
       url('../assets/font/SilkaMono/silkamono-medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SilkaMono';
  src: url('../assets/font/SilkaMono/silkamono-semibold-webfont.eot');
  src: url('../assets/font/SilkaMono/silkamono-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/font/SilkaMono/silkamono-semibold-webfont.woff2') format('woff2'),
       url('../assets/font/SilkaMono/silkamono-semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}  */
