@import url('../../styles/bases.css');

/* == Container == */

// @TODO: Mobile-Friendly Responsive Design
html,
body,
.gameContainer {
  width: 100%;
  height: 100%;
}

.gameContainer {
  position: relative;
}

/* == Game == */

/* ==== HUD View ==== */
.hudView {

}

/* ==== Panel View ==== */
.panelView {

}
